.bottom-x-sticky {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.center-x {
    margin: 0 auto;
}

.header-img-size{
    width: 80px;
    height: 80px;
}